.keyeventcard{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 0.5rem;
    /* background-color: #ebf9f4; */
    border-radius: 5px;
    padding: 0.5rem;
    /* height: 100px; */
    width: 400px;
}
.keyeventcard img{
background-color: #7fff00;
border-radius: 50%;
height: 30px;
width: 30px;
object-fit: cover;
}
@media screen and (max-width:480px) {
    .keyeventcard{
        width: 100%;
    }
}