.fundamental{
    width: 100%;
    /* height: 100px; */
    display: flex;
    gap: 5rem;
}
.fundamental-col{
    width: 50%;
}
@media screen and (max-width:780px) {
    .fundamental{
        flex-direction: column;
        gap: 1rem;
    }
    .fundamental-col{
        width: 100%;
    }
    .fundamentalcard{
        width: 100%;
        padding: 0;
    }
}