.rightside{
    width: 100%;
    background-color: #0052fe;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}
.rightside img{
    width: 100%;
}
.trandingcoin{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.trandingcoin img{
    width: 100%;
}